body{
  background-color: #7A9790;
}
.clearfix {
  display: block;
  content: " ";
  clear: both;
}
.pagewrap {
  border-style: dotted;
  width: 600px;
  height: 900px;
  margin: auto;
}

.body {
  height: 400px;
  width: 580px;
  margin: 10px;
  border-style: solid;
}
