body {
  background-color: #eeedef;
}

.clearfix {
  display: block;
  content: " ";
  clear: both;
}
.sheader{
  width: auto;
  height: 50px;
  background-color: #7ACAF6;
}
.theader{
  width: auto;
  height: 50px;
  background-color: #A0E7AF;
}
.pagewrap {
  height: 700px;
  width: 600px;
  margin: auto;
  border-style: none;
  background-color: white;
}
.profile {
  height: 150px;
  width: 150px;
  border-style: none;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;

}
.info{
  height: 200px;
  width: 400px;
  border-style: none;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  padding-left:5px;
  padding-top: 15px;
}
span {
  font-weight: bold;
}

.name{
  font-size: 20px;
  /*float: left;*/
  /*margin-left: 20px;*/
  text-align:center;
}
.top{
  height: 230px;
  width: auto;
  border-style: none;
}
.bottom {
  height:400px;
  width: auto;
  border-style: dotted;
  position: relative;
  visibility: visible;
}
.logo {
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;
}
