body {
  background-color: #EFEFEF;
  /*background-color: #66b3ff;*/
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.circular-image {
  border-radius:  50%;
}

.outside {
  height: 1000px;
  width: 900px;
  margin: auto;
}

.largestbox {
  border: 2px solid;
  border-radius: 5px;
  height:900px;
  width: 600px;
  margin: auto;
  background-color: #CAEBF2;
  padding: 50px;
  padding-top: 80px;

}

.mediumbox {
  border: 2px solid;
  border-radius: 5px;
  height:350px;
  width: 400px;
  background-color: white;
  padding-left: 185px;
  padding-top: 50px;
  margin-bottom: 30px;

}

.smallbox {
  border: 2px solid;
  border-radius: 5px;
  height:120px;
  width: 400px;
  background-color: white;
  padding-left: 185px;
  padding-top: 80px;
  padding-bottom: 15px;
}
