.clearfix {
  display: block;
  content: " ";
  clear: both;
}
.sheader{
  width: auto;
  height: 50px;
  background-color: #7ACAF6;
}
.theader{
  width: auto;
  height: 50px;
  background-color: #A0E7AF;
}
.pagewrap {
  height: 700px;
  width: 600px;
  margin: auto;
  border-style: dashed;
}
.profile {
  height: 160px;
  width: 150px;
  border-style: solid;
  float: left;
  margin-left: 10px;
  margin-top: 10px;

}

.name{
  float: left;
  margin-left: 20px;
}

.bottom {
  height:400px;
  width: auto;
  border-style: dotted;
  position: relative;
  visibility: visible;
}

.pic{
  height: 220px;
  width: 180px;
  border-style: dotted;
  margin-left: 200px;

}
.logo {
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;
}
.search {
  border-style: hidden;
  margin-top: 20px;
  width: auto;
  margin-left: 80px;
}
.searchtext {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 15px;
}
.searchbar {
  height: 10px;
  width: 50px;
}
