<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
  <link rel="stylesheet" type"text/css" href="../css/register.css">
</head>
<body>
<section class= "clearfix">
<div class= "pagewrap">

    <div class= "body">
<form method="post" action="register.html">

    <p>Enter Full Name: <input type="text" name="name"/>
    </p>

    <p>Year: <select name="year">
          <option value="Freshmen"> Freshman</option>
          <option value="Sophomore"> Sophomore </option>
          <option value="Junior"> Junior</option>
          <option value="Senior"> Senior </option>
            </select>
    </p>

    <p>University: <select name="school">
          <option value="Johns Hopkins University"> Johns Hopkins </option>
          <option value="University of Notre Dame"> Notre Dame </option>
          <option value="Fordham University"> Fordham Univeristy</option>
                  </select>
    </p>

    <!-- <p>Subject: <select name="subjects">
          <option value="Computer Science"> Computer Science </option>
          <option value="Biology"> Biology </option>
                </select>
    </p> -->

    <p> Description:<input type="text" name="description"> <br>

    <input type="submit" value = "Submit" onclick="alert('You have registered for S.O.S. Welcome!')">
    <!-- <button type="submit" onclick="alert('You have registered for S.O.S. Welcome!')">Submit</button> -->
</form>
    </div>

</div>

</section>
</body>
</html>
