<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
</head>

<body>
<section class="clearfix">
<div class="sheader">
  <a href="studenthome.html">
  <img class="logo" src="../logo.png">
  </a>
</div>
<div class="pagewrap">

  <div class="top">
    <div class="profile">
    </div>

    <div class="info">
      <p>University: {{ school }} </p>
      <p>Major: {{ major }} </p>
      <p>GradeLevel: {{ year }} </p>
    </div>

    <div class="name">
    <p> {{name}} </p>
    </div>
  </div>

  <div class="bottom">
  </div>

</div>

</body>
</html>
