<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studenthome.css">
</head>

<body class="body">
<section class="clearfix">
<div class="sheader">
  <img class="logo" src="../static_files/logo.png">
</div>
<div class="pagewrap">


    <div class="pic">
      <div class="profile">
        <a href="profile">
          <img src="../static_files/android.png">
        </a>
      </div>
   </div>
   <div class="name">
     <p><b>{{name}} </b></p>
   </div>

  <div class="bottom">
    <section class="search">
    <form method="get" action="results">
        <input class="searchtext" type="text" placeholder="Search By Course" name="searchbox" required>
        <button class= "searchbar" type="submit">Search</button>
    </form>
  </section>

  </div>

</div>

</section>
</body>
</html>
