<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
</head>

<body>
<section class="clearfix">
<div class="sheader">
  <a href="homepage">
  <img class="logo" src="../static_files/logo.png">
  </a>
</div>
<div class="pagewrap">

  <div class="top">
    <img class="profile" src="../static_files/android.png">

    <div class="info">
      <p><span>University</span>: {{ school }} </p>
      <p><span>Major</span>: {{ major }} </p>
      <p><span>Grade Level</span>: {{ year }} </p>
    </div>

    <div class="name">
      <p> {{name}} </p>
    </div>
  </div>

  <div class="bottom">
  </div>

</div>

</body>
</html>
