<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
</head>

<body>
<section class="clearfix">
<div class="sheader">
  <a href="homepage">
  <img class="logo" src="../static_files/logo.png">
  </a>
</div>
<div class="pagewrap">
  <img class="profile" src="../static_files/android.png">

  <!-- <div class="top"> -->
    <!-- <img class="profile" src="../static_files/android.png"> -->
    <div class="sinfo">
      <p id="infos"><span>University</span>: {{ school }} </p>
      <p id="infos"><span>Major</span>: {{ major }} </p>
      <p id="infos"><span>Grade Level</span>: {{ year }} </p>
    </div>

    <div class="name">
      <p> {{name}} </p>
    </div>
  <!-- </div> -->


  <div class="bottom">
    <div class= "sdescription">
      <p id="desc"><!--<b>About Me</b>--> <br>{{description}} </p>
    </div>
  </div>
<form method="get" action="edit">
<button class="edit" type="Submit" value="Edit Profile Picture"> Edit Profile </button>
</form>
</div>
</form>
</body>
</html>
