<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studenthome.css">
</head>

<body>
<section class="clearfix">
<div class="sheader">
  <img class="logo" src="../logo.png">
</div>
<div class="pagewrap">


    <div class="pic">
      <div class="profile">
        profile
      </div>

      <div class="name">
        <p> {{Name_answer}} </p>
      </div>
   </div>


  <div class="bottom">
    <section class="search">
    <form>
        <input class="searchtext" type="text" placeholder="Search By Major" required>
        <input class= "searchbar" type="button" value="Search">
    </form>
  </section>


  </div>

</div>
</section>
</body>
</html>
