<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
</head>

<body>
<section class="clearfix">
<div class="theader">
  <img class="logo" src="../static_files/logo.png">
</div>
<div class="pagewrap">

  <div class="top">
    <div class="profile">
      <img class="profile" src="../static_files/android.png">
    </div>

    <div class="tinfo">
      <p id="infos"><span>University:</span> {{ university }} </p>
      <p id="infos"><span>Major: </span>{{ major }} </p>
      <p id="infos"><span>Grade Level:</span> {{ year }} </p>
    </div>

    <div class="name">
      <p><b> {{ name }}</b> </p>
    </div>
  </div>

  <div class="bottom">
    <div class= "tdescription">
      <p id="desc"><b>About Me</b>: <br>{{description}} </p>
    </div>
  </div>
  <form method="get" action="edit">
      <button class="edit" type="submit">Edit Profile</button>
  </form>
</div>

</section>
</body>
</html>
