<!DOCTYPE html>
<html>
<head>
  <title>
    Student Profile Page
  </title>
  <link rel="stylesheet" type="text/css" href="../css/tutor.css">
</head>
<body>
  <div class= "outside">
    <div class= "largestbox">
      <img src="student.jpg" alt="my-image" class="circular-image" height="150" width="150">
      <h2> First Last </h2>
      <div class= "firstbox">
        <p> Notifications </p>
      </div>
      <div class= "secondbox">
        <p> Age: </p>
        <p> College: </p>
        <p> Major: </p>
        <p> Year: </p>
        <p> Classes: </p>
      </div>
      <div class="thirdbox">
        <p> Mini Bio </p>
      </div>
    </div>
  </div>
</body>
</html>
