<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
</head>

<body>
<section class="clearfix">
<div class="theader">
  <a href="homepage">
  <img class="logo" src="../static_files/logo.png">
  </a>
</div>
<div class="pagewrap">

<div class="grey">
  <div class="name">
    <p><h1> {{name}} </h1></p>
  </div>
</div>
<div class="top">
  <img class="profile" src="../static_files/android.png">

</div>

<div class="grey">
  <h1>Information</h>
</div>


<div class="tinfo">
  <p id="infos"><span>University</span>: {{ school }} </p>
  <p id="infos"><span>Major</span>: {{ major }} </p>
  <p id="infos"><span>Grade Level</span>: {{ year }} </p>
</div>

<div class="grey">
  <h1>About Me:</h1>
</div>

<div class= "tdescription">
    <p id="desc">< {{description}} </p>
</div>

<div class="grey">
</div>

<form method="get" action="edit">
<button class="edit" type="Submit" value="Edit Profile Picture"> Edit Profile </button>
</form>

</div>

</body>
</html>
