<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
<body>
<section class="clearfix">
  <div class="theader">
    <img class="logo" src="../static_files/logo.png">
    <a href="results">
      <h3 class="return"> Return to results</h3>
    </a>
  </div>
<div class="pagewrap">

  <div class="top">
    <div class="profile">
      <img class="profile" src="../static_files/android.png">
    </div>

    <div class="info">
      <p>University: {{ tutor.school }} </p>
      <p>Major: {{ tutor.major }} </p>
      <p>GradeLevel: {{ tutor.year }} </p>
    </div>

    <div class="name">
    <p> {{tutor.name}} </p>
    </div>
  </div>

  <div class="bottom">
    {{tutor.description}}
    <div class="emails">
    <form method="post" action="send_mail">
        <p><textarea name="answers" placeholder="Send this tutor an email!" rows="4" cols="50" name="email"></textarea>
            <button class="button" type="submit" onclick="alert('Email Sent!)">Send Email!</button></p>
        <input type="hidden" name="id" value="{{tutor.email}}">
    </form>
    </div>
  </div>

</div>


</section>
</body>
</html>
