<html>
<head>
  <title>
  </title>
<link rel="stylesheet" type"text/css" href="../css/studentprofile.css">
<body>
<section class="clearfix">
  <div class="theader">
    <img class="logo" src="../static_files/logo.png">
  </div>
<div class="pagewrap">

  <div class="top">
    <div class="profile">
      <img class="profile" src="../static_files/android.png">
    </div>

    <div class="info">
      <p>University: {{ tutor.school }} </p>
      <p>Major: {{ tutor.major }} </p>
      <p>GradeLevel: {{ tutor.year }} </p>
    </div>

    <div class="name">
    <p> {{tutor.name}} </p>
    </div>
  </div>

  <div class="bottom">

  </div>

</div>


</section>
</body>
</html>
